{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Skin Cancer | Classification</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'user/site.webmanifest' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'user/assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">



    <style>
        .page-header {
          background-color: #D7F3EE;
          height: 400px;
        }

        .card2{
        background-color:#D7F3EE;;
        }

        .custom-button {
          color: #3368c6;
          background-color: red;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
    
        }
    
        .otp-input-wrapper {
          width: 240px;
          text-align: left;
          display: inline-block;
        }
    
        .otp-input-wrapper input {
          padding: 0;
          width: 264px;
          font-size: 32px;
          font-weight: 600;
          color: #3e3e3e;
          background-color: transparent;
          border: 0;
          margin-left: 12px;
          letter-spacing: 48px;
          font-family: sans-serif !important;
        }
    
        .otp-input-wrapper input:focus {
          box-shadow: none;
          outline: none;
        }
    
        .otp-input-wrapper svg {
          position: relative;
          display: block;
          width: 240px;
          height: 2px;
        }
    
        .custome {
          color: black;
        }

        .otp-container{
            background-color: green;
            
        }

        body {
          overflow-x: hidden;
        }

            .custom-button {
                /* Your button styles */
                background-color: #007bff; 
                color: white; 
                padding: 10px 20px; 
                border: none; 
                border-radius: 5px;
                cursor: pointer; 
        
                /* Transition effect for smooth hover */
                transition: background-color 0.3s ease;
            }
        
            /* Hover effect */
            .custom-button:hover {
                background-color: lightblue; 
            }

        .heading1 {
            font-size: 48px;  
        }

      </style>


</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'user/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img src="" alt=""><h1 style="width:350px;">Skin Cancer Classification</h1></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'about_us' %}">About</a></li>
                                            <li><a href="{% url 'user_login' %}">Login</a></li>
                                            <li><a href="{% url 'admin_login' %}">Admin</a> 
                                            </li>
                                            <li><a href="{% url 'contact_us' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                    <a href="{% url 'register' %}" class="btn header-btn">Register</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Slider Area Start-->
        <div class="slider-area slider-area2">
            <div class="slider-active dot-style">
                <!-- Slider Single -->
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 ">
                             <div class="hero-wrapper">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".3s">OTP</h1>
                      <p data-animation="fadeInUp" data-delay=".6s">"Protect your skin, shield your future,<br>Wear sunscreen daily."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!-- Slider Area End -->







<!-- OTP start -->
<div class="hero__caption1 text-center"> 
    <h1 data-animation="fadeInUp" class="heading1">OTP</h1>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="bg-white p-3 rounded-3 shadow-sm border" style="box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <div class="otp-container">
              <form method="POST" id="myform" onsubmit="return validateuser()" name="myform" class="contactForm">
                {% csrf_token %}
                    <div class="card2 card border-0 px-4 py-5" style="background-image: url('{% static '' %}');">
                        <div class="row px-3 mb-3">
                            <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social"></div>
                        </div>
                        <div class="row mb-3"
                            style="display:flex;flex-direction:column;justify-content:space-between;align-items:center;">
                            <div class="otp-input-wrapper text-center">
                                <h3 class="font-weight-bold" style="color:black;">OTP has been sent to your registered Mobile Number and Email</h3>
                                <input type="text" name="otp" required>
                                <svg viewBox="0 0 240 1" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="0" y1="0" x2="240" y2="0" stroke="#3e3e3e" stroke-width="2"
                                        stroke-dasharray="44,22" />
                                </svg>
                            </div>
                        
                            
                            <div class="d-flex justify-content-center" style="padding-top: 30px;">
                                <input type="submit" value="Submit" class="custom-button">
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  
  
  <!-- OTP end -->
  
  
  



</main>
<footer>
    <div class="footer-wrappr section-bg3" data-background="{% static 'user/assets/img/gallery/footer-bg.png' %}">
        <div class="footer-area footer-padding ">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo mb-25">
                                <a href="{% url 'index' %}"><img src="" alt=""><h1>Skin Cancer Classification</h1></a>
                            </div>
                            <div class="header-area">
                                <div class="main-header main-header2">
                                    <div class="menu-main d-flex align-items-center justify-content-start">
                                        <!-- Main-menu -->
                                        <div class="main-menu main-menu2">
                                            <nav> 
                                                <ul>
                                                    <li><a href="{% url 'index' %}">Home</a></li>
                                                    <li><a href="{% url 'about_us' %}">About</a></li>
                                                    <li><a href="{% url 'user_login' %}">Login</a></li>
                                                    <li><a href="{% url 'admin_login' %}">Admin</a></li>
                                                    <li><a href="{% url 'contact_us' %}">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social mt-50">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-footer-caption">
                            <div class="footer-tittle mb-50">
                                <h4>Subscribe newsletter</h4>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Subscribe
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium misem ut ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-10 ">
                            <div class="footer-copy-right">
                             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.codebook.in/" target="_blank">Codebook Developer</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './user/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './user//assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './user/assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './user/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './user/assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './user/assets/js/wow.min.js' %}"></script>
<script src=".{% static '/user/assets/js/animated.headline.js' %}"></script>
<script src="{% static './user/assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src=".{% static './user/assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './user/assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './user/assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './user/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './user/assets/js/waypoints.min.js' %}"></script>
<script src="{% static './user/assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './user/assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './user/assets/js/contact.js' %}"></script>
<script src="{% static './user/assets/js/jquery.form.js' %}"></script>
<script src="{% static './user/assets/js/jquery.validate.min.js' %}"></script>
<script src=".{% static '/user/assets/js/mail-script.js' %}"></script>
<script src="{% static './user/assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static './user/assets/js/plugins.js' %}"></script>
<script src="{% static './user/assets/js/main.js' %}"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>swal({
                        title: "Success!",
                        text: "{{message}}",
                        icon: "success",
                        button: "OK",
                    });
                </script>
            
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <script>swal({
                        title: "Warning :)",
                        text: "{{message}}",
                        icon: "warning",
                        button: "OK",
                    
                    });
                </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <script>swal({
                        title: "info :)",
                        text: "{{message}}",
                        icon: "info",
                        button: "OK",
                    });
                </script>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>swal({
                        title: "error :)",
                        text: "{{message}}",
                        icon: "error",
                        button: "OK",
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>